<div id="formulaire" class="container">
  <div class="form-group">
          <label for="utilisateur">Loging</label>
          <input type="text" class="form-control" name="utilisateur" id="utilisateur">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password">
      </div>
      <button id="inscription" class="btn btn-primary" (click)=inscription($event)>S'inscrir</button>
      <button id="connexion" class="btn btn-primary" (click)=connexion($event)>Se connecter</button>
  </div>
  <div id="listes" class="container">
</div>